services:
  - type: web
    name: collaborative-workspace-backend
    runtime: node
    rootDir: .
    buildCommand: npm install && npm run build:backend
    # Changed to execute within the specific app directory to find dist/server.js
    startCommand: cd apps/backend && node dist/server.js
    plan: free
    envVars:
      - key: MONGO_URI
        value: mongodb+srv://devanshbiyani_db_user:<db_password>@cluster0.1h3fnhr.mongodb.net/?appName=Cluster0
      - key: FRONTEND_ORIGIN
        value: https://collaborative-workspace-frontend.onrender.com
      - key: PORT
        value: 10000
      - key: REDIS_URL
        sync: false

  - type: web
    name: collaborative-workspace-frontend
    runtime: static
    rootDir: .
    buildCommand: npm install && npm run build:frontend
    staticPublishPath: apps/frontend/dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    envVars:
      - key: VITE_BACKEND_URL
        value: https://collaborative-workspace-backend-a90y.onrender.com
